# API
RIOT_API_KEY=RGAPI-xxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx
GAME_NAME= # Nome dentro do jogo
TAG_LINE= # Tagline do jogador
COUNT= # N° de partidas que serão puxadas
TIMEZONE= # Fuso horário, seguindo a lista padrão IANA: exemplo: America/Sao_Paulo
