# API
RIOT_API_KEY=RGAPI-xxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx
SERVER_REGION= # região do servidor, ex: americas, asia, europe, etc
PLATAFORM= # subdominio da plataforma, ex: br1, na1, euw1, etc
GAME_NAME= # Nome dentro do jogo
TAG_LINE= # Tagline do jogador
COUNT= # N° de partidas que serão puxadas
TIMEZONE= # Fuso horário, seguindo a lista padrão IANA: exemplo: America/Sao_Paulo

# Docker/PostgreSQL
DB_PASSWORD=postgres
HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_NAME=lol_dw